In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect('./database/sqlite/test.db') # criará o database caso não exista

In [11]:
conn.execute(
    '''
    CREATE TABLE IF NOT EXISTS EMPRESA
    (
        ID INT PRIMARY KEY NOT NULL,
        NOME TEXT NOT NULL,
        ENDERECO CHAR(50),
        LIMITE_CREDITO REAL NOT NULL
    );
    '''
)

In [12]:
conn.execute(
    '''
    INSERT INTO EMPRESA (ID, NOME, ENDERECO, LIMITE_CREDITO)
    VALUES (1, 'Empresa_x', 'BRAZIL', 20000.00);
    '''
)

In [13]:
conn.execute(
    '''
    INSERT INTO EMPRESA (ID, NOME, ENDERECO, LIMITE_CREDITO)
    VALUES (2, 'Empresa_Y', 'BRAZIL', 25000.00);
    '''
)

In [14]:
conn.execute(
    '''
    INSERT INTO EMPRESA (ID, NOME, ENDERECO, LIMITE_CREDITO)
    VALUES (3, 'Empresa_h', 'BRAZIL', 20000.00);
    '''
)

In [15]:
conn.execute(
    '''
    INSERT INTO EMPRESA (ID, NOME, ENDERECO, LIMITE_CREDITO)
    VALUES (4, 'Empresa_R', 'BRAZIL', 20005.00);
    '''
)

In [16]:
cursor = conn.execute("SELECT id, nome, endereco, limite_credito FROM EMPRESA")
for row in cursor:
    print(f"row: {row}")

conn.commit()

row: (1, 'Empresa_x', 'BRAZIL', 20000.0)
row: (2, 'Empresa_Y', 'BRAZIL', 25000.0)
row: (3, 'Empresa_h', 'BRAZIL', 20000.0)
row: (4, 'Empresa_R', 'BRAZIL', 20005.0)

In [ ]:
conn.close()