In [1]:
import sqlite3

In [2]:
import pandas as pd

In [4]:
conn = sqlite3.connect('./sqlite/northwind.db')

In [5]:
query = """
   SELECT name 
     FROM sqlite_master
    WHERE type='table';
   """

df_all_tables = pd.read_sql_query(query, conn)

df_all_tables.head()

                   name
0            Categories
1       sqlite_sequence
2  CustomerCustomerDemo
3  CustomerDemographics
4             Customers

In [6]:
query_all_orders = """
   SELECT *
     FROM Orders
"""

In [7]:
df_all_orders = pd.read_sql_query(query_all_orders, conn)

In [8]:
df_all_orders.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2016-07-04,2016-08-01,2016-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l-Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2016-07-05,2016-08-16,2016-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2016-07-08,2016-08-05,2016-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2016-07-08,2016-08-05,2016-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2016-07-09,2016-08-06,2016-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [9]:
df_all_orders_by_city = (
    df_all_orders
    .groupby('ShipCity')
    .agg(
        count_orders=('OrderID', 'count')
    )
    .sort_values('count_orders', ascending=False)
)

In [10]:
df_all_orders_by_city.head()

                count_orders
ShipCity
Rio de Janeiro            34
London                    33
Sao Paulo                 31
Boise                     31
Graz                      30

In [11]:
df_all_orders_by_city.to_sql('OrdersByCityCount', conn, if_exists='replace')

DatabaseError: Execution failed on sql 'DROP TABLE "OrdersByCityCount"': database is locked